<a href="https://colab.research.google.com/github/EduardoYaguar/act1_2p_si_eda_2_25_yaguar/blob/main/act1_2p_si_eda_2_25_yaguar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Activity 1: Exploratory Analysis
## Patient Readmission to Hospital After Discharge
By: Eduardo Yaguar

#Section 1: Import Libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#Section 2: Data Loading

In [3]:
df = pd.read_csv('diabetic_data.csv')

print(f'Total of records: {df.shape[0]}')
print(f'Total of features: {df.shape[1]}')

Total of records: 101766
Total of features: 50

#Section 3: Data Exploration

In [4]:
#Dataset information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 50 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   encounter_id              101766 non-null  int64
 1   patient_nbr               101766 non-null  int64
 2   race                      101766 non-null  object
 3   gender                    101766 non-null  object
 4   age                       101766 non-null  object
 5   weight                    101766 non-null  object
 6   admission_type_id         101766 non-null  int64
 7   discharge_disposition_id  101766 non-null  int64
 8   admission_source_id       101766 non-null  int64
 9   time_in_hospital          101766 non-null  int64
 10  payer_code                101766 non-null  object
 11  medical_specialty         101766 non-null  object
 12  num_lab_procedures        101766 non-null  int64
 13  num_procedures            101766 non-null  int64
 14  num_medications           101766 non-null  int64
 15  number_outpatient         101766 non-null  int64
 16  number_emergency          101766 non-null  int64
 17  number_inpatient          101766 non-null  int64
 18  diag_1                    101766 non-null  object
 19  diag_2                    101766 non-null  object
 20  diag_3                    101766 non-null  object
 21  number_diagnoses          101766 non-null  int64
 22  max_glu_serum             5346 non-null    object
 23  A1Cresult                 17018 non-null   object
 24  metformin                 101766 non-null  object
 25  repaglinide               101766 non-null  object
 26  nateglinide               101766 non-null  object
 27  chlorpropamide            101766 non-null  object
 28  glimepiride               101766 non-null  object
 29  acetohexamide             101766 non-null  object
 30  glipizide                 101766 non-null  object
 31  glyburide                 101766 non-null  object
 32  tolbutamide               101766 non-null  object
 33  pioglitazone              101766 non-null  object
 34  rosiglitazone             101766 non-null  object
 35  acarbose                  101766 non-null  object
 36  miglitol                  101766 non-null  object
 37  troglitazone              101766 non-null  object
 38  tolazamide                101766 non-null  object
 39  examide                   101766 non-null  object
 40  citoglipton               101766 non-null  object
 41  insulin                   101766 non-null  object
 42  glyburide-metformin       101766 non-null  object
 43  glipizide-metformin       101766 non-null  object
 44  glimepiride-pioglitazone  101766 non-null  object
 45  metformin-rosiglitazone   101766 non-null  object
 46  metformin-pioglitazone    101766 non-null  object
 47  change                    101766 non-null  object
 48  diabetesMed               101766 non-null  object
 49  readmitted                101766 non-null  object
dtypes: int64(13), object(37)
memory usage: 38.8+ MB

In [5]:
#Summary of the numerical features in the dataset
df.describe()

,encounter_id,patient_nbr,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses
count,1.017660e+05,1.017660e+05,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000
mean,1.652016e+08,5.433040e+07,2.024006,3.715642,5.754437,4.395987,43.095641,1.339730,16.021844,0.369357,0.197836,0.635566,7.422607
std,1.026403e+08,3.869636e+07,1.445403,5.280166,4.064081,2.985108,19.674362,1.705807,8.127566,1.267265,0.930472,1.262863,1.933600
min,1.252200e+04,1.350000e+02,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,8.496119e+07,2.341322e+07,1.000000,1.000000,1.000000,2.000000,31.000000,0.000000,10.000000,0.000000,0.000000,0.000000,6.000000
50%,1.523890e+08,4.550514e+07,1.000000,1.000000,7.000000,4.000000,44.000000,1.000000,15.000000,0.000000,0.000000,0.000000,8.000000
75%,2.302709e+08,8.754595e+07,3.000000,4.000000,7.000000,6.000000,57.000000,2.000000,20.000000,0.000000,0.000000,1.000000,9.000000
max,4.438672e+08,1.895026e+08,8.000000,28.000000,25.000000,14.000000,132.000000,6.000000,81.000000,42.000000,76.000000,21.000000,16.000000

In [7]:
#Get a better perspective of the amount of the type of values that the dataset uses
df.dtypes.value_counts()

object    37
int64     13
Name: count, dtype: int64

In [14]:
#Check the target variable data
print('Number of readmitted patients\n', df['readmitted'].value_counts(), '\n')
print('Percentage of readmitted patients\n',df['readmitted'].value_counts(normalize=True) * 100)

Number of readmitted patients
 readmitted
NO     54864
>30    35545
<30    11357
Name: count, dtype: int64

Percentage of readmitted patients
 readmitted
NO     53.911916
>30    34.928169
<30    11.159916
Name: proportion, dtype: float64

#Section 4: Data Cleaning

In [16]:
#Missing data is filled with the simbol ?
df.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [20]:
#Search for the amount of missing data in the columns
missing_data = np.array([(column, df[column][df[column] == '?'].count())  for column in df.columns])
missing_data

array([['encounter_id', '0'],
       ['patient_nbr', '0'],
       ['race', '2273'],
       ['gender', '0'],
       ['age', '0'],
       ['weight', '98569'],
       ['admission_type_id', '0'],
       ['discharge_disposition_id', '0'],
       ['admission_source_id', '0'],
       ['time_in_hospital', '0'],
       ['payer_code', '40256'],
       ['medical_specialty', '49949'],
       ['num_lab_procedures', '0'],
       ['num_procedures', '0'],
       ['num_medications', '0'],
       ['number_outpatient', '0'],
       ['number_emergency', '0'],
       ['number_inpatient', '0'],
       ['diag_1', '21'],
       ['diag_2', '358'],
       ['diag_3', '1423'],
       ['number_diagnoses', '0'],
       ['max_glu_serum', '0'],
       ['A1Cresult', '0'],
       ['metformin', '0'],
       ['repaglinide', '0'],
       ['nateglinide', '0'],
       ['chlorpropamide', '0'],
       ['glimepiride', '0'],
       ['acetohexamide', '0'],
       ['glipizide', '0'],
       ['glyburide', '0'],
       ['tolbutamide', '0'],
       ['pioglitazone', '0'],
       ['rosiglitazone', '0'],
       ['acarbose', '0'],
       ['miglitol', '0'],
       ['troglitazone', '0'],
       ['tolazamide', '0'],
       ['examide', '0'],
       ['citoglipton', '0'],
       ['insulin', '0'],
       ['glyburide-metformin', '0'],
       ['glipizide-metformin', '0'],
       ['glimepiride-pioglitazone', '0'],
       ['metformin-rosiglitazone', '0'],
       ['metformin-pioglitazone', '0'],
       ['change', '0'],
       ['diabetesMed', '0'],
       ['readmitted', '0']], dtype='<U24')

In [29]:
#Get a better view of the amount of missing data and the impact on the data. So i can identify find a propper technique to hanlde the dataset
missing_df = pd.DataFrame(list(missing_data), columns=['column', 'missing_data'])
missing_df['percentage'] = (missing_df['missing_data'].astype(int) / len(df)) * 100
missing_df = missing_df.sort_values('missing_data', ascending=False)
missing_df

                      column missing_data  percentage
5                     weight        98569   96.858479
11         medical_specialty        49949   49.082208
10                payer_code        40256   39.557416
19                    diag_2          358    0.351787
2                       race         2273    2.233555
18                    diag_1           21    0.020636
20                    diag_3         1423    1.398306
0               encounter_id            0    0.000000
38                tolazamide            0    0.000000
31                 glyburide            0    0.000000
32               tolbutamide            0    0.000000
33              pioglitazone            0    0.000000
34             rosiglitazone            0    0.000000
35                  acarbose            0    0.000000
36                  miglitol            0    0.000000
37              troglitazone            0    0.000000
40               citoglipton            0    0.000000
39                   examide            0    0.000000
29             acetohexamide            0    0.000000
41                   insulin            0    0.000000
42       glyburide-metformin            0    0.000000
43       glipizide-metformin            0    0.000000
44  glimepiride-pioglitazone            0    0.000000
45   metformin-rosiglitazone            0    0.000000
46    metformin-pioglitazone            0    0.000000
47                    change            0    0.000000
48               diabetesMed            0    0.000000
30                 glipizide            0    0.000000
25               repaglinide            0    0.000000
28               glimepiride            0    0.000000
14           num_medications            0    0.000000
3                     gender            0    0.000000
4                        age            0    0.000000
6          admission_type_id            0    0.000000
7   discharge_disposition_id            0    0.000000
8        admission_source_id            0    0.000000
9           time_in_hospital            0    0.000000
12        num_lab_procedures            0    0.000000
13            num_procedures            0    0.000000
15         number_outpatient            0    0.000000
27            chlorpropamide            0    0.000000
16          number_emergency            0    0.000000
17          number_inpatient            0    0.000000
21          number_diagnoses            0    0.000000
22             max_glu_serum            0    0.000000
23                 A1Cresult            0    0.000000
24                 metformin            0    0.000000
1                patient_nbr            0    0.000000
26               nateglinide            0    0.000000
49                readmitted            0    0.000000

In [31]:
#Search for null values in the dataset
df.isnull().sum()[df.isnull().sum() > 0]

max_glu_serum    96420
A1Cresult        84748
dtype: int64

In [35]:
#Check if there is any duplicated data in the dataset
duplicates = df.duplicated().sum()
duplicates

np.int64(0)

In [37]:
#Check for patients readmission
print(f'Duplicate patient_nbr: ', df['patient_nbr'].duplicated().sum())

Duplicate patient_nbr:  30248

In [42]:
#List all the numerical columns
numerical_cols = ['time_in_hospital', 'num_lab_procedures', 'num_procedures',
                  'num_medications', 'number_outpatient', 'number_emergency',
                  'number_inpatient', 'number_diagnoses']

outlier= []
for col in numerical_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = ((df[col] < lower_bound) | (df[col] > upper_bound)).sum()
    outlier.append({
        'column': col,
        'outliers': outliers,
        'percentage': (outliers / len(df)) * 100,
        'lower_bound': lower_bound,
        'upper_bound': upper_bound
    })
outlier_df = pd.DataFrame(outlier)
outlier_df

               column  outliers  percentage  lower_bound  upper_bound
0    time_in_hospital      2252    2.212920         -4.0         12.0
1  num_lab_procedures       143    0.140518         -8.0         96.0
2      num_procedures      4954    4.868031         -3.0          5.0
3     num_medications      2557    2.512627         -5.0         35.0
4   number_outpatient     16739   16.448519          0.0          0.0
5    number_emergency     11383   11.185465          0.0          0.0
6    number_inpatient      7049    6.926675         -1.5          2.5
7    number_diagnoses       281    0.276124          1.5         13.5

In [45]:
#Check for Age Values since its saved in ranges, gender values, race values
print(df['age'].unique(), '\n')

print(df['gender'].value_counts(), '\n')

print(df['race'].value_counts())

['[0-10)' '[10-20)' '[20-30)' '[30-40)' '[40-50)' '[50-60)' '[60-70)'
 '[70-80)' '[80-90)' '[90-100)']

gender
Female             54708
Male               47055
Unknown/Invalid        3
Name: count, dtype: int64

race
Caucasian          76099
AfricanAmerican    19210
?                   2273
Hispanic            2037
Other               1506
Asian                641
Name: count, dtype: int64